.dropdown {
  position: relative;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  display: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--secondary-color);

  cursor: pointer;
  border: 1px rgba(245, 245, 250, 0.2) solid;
  border-radius: 0.5rem;
  box-shadow: 0 4px 24px -1px rgba(81, 177, 132, 0.2);
  transition: background 0.3s, border-color 0.3s;
}

.select.open {
  border-color: var(--secondary-color);
}

.caret {
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-top: 0.9rem solid var(--secondary-color);
  transition: 0.2s;
}

.caret.rotate {
  transform: rotate(180deg);
}

.project-sect-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5;
  gap: 4rem;
  margin: 3rem 0;
  /* width: 80%; */
}

.project {
  list-style: none;

  width: fit-content;
  padding: 0.85rem;

  font-size: 1.8rem;
  text-align: center;
  color: rgba(217, 217, 217, 0.2);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color ease 0.3s;
}

.project:hover {
  background-color: rgba(245, 245, 250, 0.1);
}

.project.active {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

@media (max-width: 480px) {
  .dropdown {
    width: 100%;
  }

  .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-sect-nav {
    position: absolute;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--primary-color);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    gap: 0;

    border: 1px var(--secondary-color) solid;
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  .project-sect-nav.open {
    visibility: visible;
    opacity: 1;
  }

  .project {
    width: 100%;
    padding: 1.5rem;
    text-align: left;
  }
}

/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
  .dropdown {
    width: 85%;
  }

  .select {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-sect-nav {
    position: absolute;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--primary-color);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    gap: 0;

    border: 1px var(--secondary-color) solid;
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  .project-sect-nav.open {
    visibility: visible;
    opacity: 1;
  }

  .project {
    width: 100%;
    padding: 1.5rem;
    text-align: left;
  }
}
