@import url(fonts.css);
@import url(colors.css);

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Arvo";
  font-size: 12px;
  line-height: 1.5;

  color: var(--secondary-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 3rem 8rem;
}

/* Portrait phones and down */
@media (max-width: 480px) {
  :root {
    font-size: 6.5px;
  }

  body {
    padding: 3rem;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px){
  :root {
    font-size: 9px;
  }

  body {
    padding: 3rem;
  }
}

/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 10px;
  }

  body {
    padding: 3rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  :root {
    font-size: 10px;
  }

  body {
    padding: 10rem;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  :root {
    font-size: 12px;
  }
}
